@media screen and (width>1000px  ){

  .logohidden{display:none;}
  #Menur1{display: none;}
  
  }



@media screen and (width<=1000px){
.parteprincipal{background-position: center;
                height: fit-content;
              display: block;
            }

  header{width:-webkit-fill-available;
        background-color: transparent}

  .listabarra1,
  #logo1{display:none;
  }
  .section1{height: fit-content;
    width: 90%;
    display:block;
  }

  img {
    object-fit: cover;
        overflow: hidden;
        width: min-content;
        height: min-content;
  }

  #bfollow{display: none;}
    

  .logohidden{display:inline; 
    width: fit-content;
    overflow: hidden;}
  
  .logo{height: fit-content;}
h1{color: rgb(238, 230, 205);
  font-size: 2em
  margin: 0%;
}

h2 {
  color: white;
  font-size: 3em;
}

.bud{padding-top: 1%;
  padding-left: 20%;
  padding-right: 20%;
}
.botones{width: 95%;}

.titulo{background-color: transparent;
   flex-direction: column;
    padding-top: 57%;
    align-items: start;
  }

.barra1{display: inline-flex;
  width: 100%;
   flex-direction: column-reverse;
  }

.barra_header{display: flex;
  background-color: transparent;
  border-bottom: 0px;
  align-items: center;
  height: fit-content;
  }
.listabarra{flex: 50%; 
  justify-content: end;
  width: 4em; 
  height: auto;
background-color: transparent;}

#logo{flex:50%; 
  padding: 20%;
  width: 4em; 
  height: auto;
  justify-content: start; 
  }

#Menur1{display: flex;
   width: 1em;}


/*section2*/

.section2{
  width: -webkit-fill-available;
    display: inline-flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column-reverse;
}

.galeria{
  direction: ltr;
}
h3{
  direction: ltr;
  font-size: 2em;
}
.bgaleria{
  margin-top: 2%;
}

.bwgalery{display: none;
}


.parrafo1{display: inline;
font-size: 2em;
color: black;
direction: center;
}

.flecha{display: hidden;
}

.fotosventa{
  display: grid;
    flex: 50%;
    overflow: hidden;
    align-items: self-end;
   column-gap: 25%;
    row-gap: 0%;
    grid-template-columns: 2fr 1fr;
 }
.venta3{display: none;}
#francia{display:none;}

/*section3*/
.section3{height: fit-content;

}
.section3 {border:0;
  display: block;
  height: fit-content;
  align-items: center;
}

.bgaleria2{margin-top: 0;}

.section3B {
  flex: 50%;
  display: grid;
  grid-template-columns: 60% 40% 0%;
  grid-template-rows: 80% 20%;
  column-gap: 5%;
  align-items: self-end;
  justify-items: center;
  width: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.botones1{width: 55%;}
h4{font-size: 2em;}

/*section4*/
.header4{padding: 0%;
  width: 100%;}

.galeria3{display: none;}
.galeriahidden{
  display: grid;
  grid-template-rows: auto;
  row-gap: 1%;
  justify-content: center;
  align-content: center;
}

.galeria1A{padding: 0;}


.galeriafinal{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow-y: hidden; 
}

.section5 {padding: 0%;}

.servart{
flex-direction: column-reverse;
width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow-y: hidden;
}

h5{font-size: 1em;
margin: 0%;
border:0%;
    overflow-y: hidden;
    }

h6{font-size: 2em;
    margin: 0%;
    border:0%;
    overflow-y: hidden;
    }

.services {      
  display: block;
 padding-top: 0%;
 padding-left: 0%;
  }
 

 .bgaleria5.1 { margin-top: 0%;
    overflow-y: hidden;
    font-size: 2em;
    color: yellow; 
    direction: rtl
    }

.botones1{border:none; direction: rtl;}

.bgaleria5 {display: none;}

/*.tituloservicios{height: 900px }*/
.imgs{height:fit-content;}
.description {
      font-size: 1em;
      color: black;
      margin-top: 1%;
      margin-left: 0%;
      overflow-y: hidden;  
      height:fit-content;      
}

.art {
  flex: 60%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
      "black0 black0 black0 black0 black0 black0 transparent1"
      "black1 black1 black1 black1 black1 black1 transparent1"
      "black1 black1 black1 black1 black1 black1 transparent1"
      "black1 black1 black1 black1 black1 black1 transparent1"
      "imgin imgx imgf imgi imgy black0 black0 transparent1"
      "black1 black1 black1 black1 black1 black1 transparent2"
      "black1 black1 black1 black1 black1 black1 transparent2"
      "black1 black1 black1 black1 black1 black1 transparent2"
      "black2 black2 black2 black2 black2 black2 transparent2"
}

#imgin {background: url(img/instagram.png); grid-area:imgin; width: 1em; height: auto;color: cyan;} 
#imgx {background: url(img/x.png); grid-area:imgx; width: 1em; height: auto;color: cyan;} 
#imgf {background: url(img/facebook.png); grid-area:imgf; width: 1em; height: auto;color: cyan;} 
#imgi {background: url(img/instagram.png); grid-area:imgi; width: 1em; height: auto;color: cyan;} 
#imgy {background: url(img/youtube.png); grid-area:imgy; width: 1em; height: auto;color: cyan;}

#imga {
  display:none;}

.bgaleria5.1{display:inline;
}




}
