@media screen and (width>600px){
  .logohidden{display:none;}
}
@media screen and (width<=600px){
  .listabarra1,
  #logo1{display:none;
  }
  #bfollow{display: none;}
  .titulo{align-items: end;}
  .logohidden{display:inline;}
}

@media screen and (width<=431px){
  .logohidden{display:flex;
    align-items: flex-start;
    justify-content: start;
  width: 2%; height: auto;}

.logoresp{display:block;justify-items: start;}
.logo{display: none;}
.listabarra{display: none;}
#boton3,#boton4{display: none;}
.botones{align-items: center;}
.titulo{display: hidden;}
.vl.2{display: none;}
.parteprincipal{background-position: center;
height: 400px;}
.listabarra1{display:none;}
 #bfollow{display: none;}
h1,h2,{justify-content: :center;align-items:end;}
.botones{justify-content: center;align-items: start;}
.section2{
    display: inline-flex;
    flex-direction: column-reverse;
}

.venta3{display: none;}

#alemania{display:none;}

 .section3A{padding-top: 20%;
 flex-direction:colum;}
 .section4{padding-top: 30%;}

 .galeria3{display:none}
}