@media screen and (width>800px){
  .logohidden{display:none;}
  #Menur1{display: none;}
}
@media screen and (width<=800px){
.parteprincipal{background-position: center;
  height: 600px;px ;}
header{width: fit-content;
  height: 30px; background-color: transparent}
  .listabarra1,
  #logo1{display:none;
  }
  #bfollow{display: none;}
    .titulo{align-items: end;}

  .logohidden{display:inline; 
    width: fit-content;
    overflow: hidden;}
.barra_header{width: fit-content;
  height: 100px ;
  background-color: transparent;
  padding: 0;
  }
.listabarra{flex: 50%; 
  padding: 20%;
  justify-content: end;
  width: 25px; height: fit-content}

#logo{flex:50%; 
  padding: 20%;
  justify-content: start; 
  ;}

#Menur1{display: flex;
    overflow: hidden;
justify-content: end;}
}


