<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="card">
  <div class="card-header">
   VEHICULO 
    {{Vehiculo?.marca}} 
    {{Vehiculo?.modelo}}
  </div>
  <div class="card-body">
    </div>
    <div class="row">
      <div class="col-5">
          <img src="{{Vehiculo?.foto}}" class="img-thumbnail">
        </div>
          <div class="col-1">

          </div>

      <div class="col-6">
        <div class="mb-3 row">
         <label for="starcCodigo" class="col-sm-2 col form-label">Código:</label>
          <div class="col-sn-10">
            {{Vehiculo?.codigo}}
           </div>
        </div>

        <div class="mb-3 row">
          <label for="starcCodigo" class="col-sm-2 col form-label">Marca:</label>
           <div class="col-sn-10">
             {{Vehiculo?.marca}}
            </div>
         </div>

         <div class="mb-3 row">
          <label for="starcCodigo" class="col-sm-2 col form-label">Modelo:</label>
           <div class="col-sn-10">
             {{Vehiculo?.modelo}}
            </div>
         </div>

         <div class="mb-3 row">
          <label for="starcCodigo" class="col-sm-2 col form-label">Color:</label>
           <div class="col-sn-10">
             {{Vehiculo?.color}}
            </div>
         </div>

         <div class="mb-3 row">
          <label for="starcCodigo" class="col-sm-2 col form-label">Año:</label>
           <div class="col-sn-10">
             {{Vehiculo?.anio}}
            </div>
         </div>

         <div class="mb-3 row">
          <label for="starcCodigo" class="col-sm-2 col form-label">Kilometraje:</label>
           <div class="col-sn-10">
             {{Vehiculo?.kilometraje}}
            </div>
         </div>

         <div class="mb-3 row">
          <label for="starcCodigo" class="col-sm-2 col form-label">Calificación:</label>
           <div class="col-sn-10">
             <app-calificacion [calificacion]="Vehiculo?.calificacion"></app-calificacion>
            </div>
         </div>


      </div>
    </div>
  </div>