
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="card">
  <div class="card-header">
    LISTA DE VEHICULOS
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Filtro</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="marca, modelo, color" [(ngModel)]="filtro">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        FILTRADO POR:{{ filtro}}
      </div>
    </div>

<div class="row">
  <div class="col-sn-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <button 
            class="btn btn-xs"
            [ngClass]="{'btn-success':mostrarImagenes,'btn-warning':!mostrarImagenes}" 
            (click)="mostrar()"
           [innerText]="mostrarImagenes ?'Ocultar Imagenes':'Mostrar Imagenes'">   Imagenes
          </button>
        
          </th>
          <th>CÓDIGO</th>
          <th>MARCA</th>
          <th>MODELO</th>
          <th>AÑO</th>
          <th>COLOR</th>
          <th>KILOMETROS</th>
          <th>PRECIO</th>
          <th>CALIFICACION</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let item of ListadoAutos">
        <td><img [src]="item.foto" style="width: 80px;" *ngIf="this.mostrarImagenes"></td>
          <td>
              <a [routerLink]="['/vehiculo/'+ item.codigo]">{{item.codigo}}</a>
          </td>
          <td>{{item.marca| uppercase}}</td>
          <td>{{item.modelo | uppercase| AEspacio:'-'}}</td>
          <td [innerText] = "item.anio"></td>
          <td>{{item.color}}</td>
          <td>{{item.kilometraje}}</td>
          <td>{{item.precio| currency}}</td>
          <td>
          <app-calificacion [calificacion]="item.calificacion"(accionClick)="recepcion($event)"></app-calificacion>  
          </td>
          
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

  </div>
</div>
